/*#3498db    #40DDB6     */
/* Header styling */
header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px ;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 500;
}

/* Styling for the logo */
.header-logo {
    display: flex;
}

.header-logo div {
    margin-top: 20px;
}

.header-logo span {
    color: #3498db;
}

.header-logo img {
    height: 80px; 
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 20px; 
}

.header-link {
    text-decoration: none;
    color: #000000;
}

.header-link:hover {
    border-bottom: 3px solid #3498db;
}


.sign-btn {
    background-color: #3498db; 
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;

}


.sign-btn:hover {
    background-color: #ffffff; 
    color: #3498db;
    border: 1px solid #3498db;
    border-bottom: 1px solid white;
}


@media screen and (max-width:990px){
    li {
      text-align:center;
      padding: 5px;
    }
    

}
@media screen and (min-width:990px){
    #mobilebtn {
      display: none;
    }
}

.navbar-toggler {
    position: absolute;
    right: 15px;
    top: 30px;

 }